---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: selfhosted
resources:
  - ./actual/ks.yaml
  - ./it-tools/ks.yaml
  - ./paperless/ks.yaml
  - ./unifi-controller/ks.yaml
components:
  - ../../components/namespace
  - ../../components/flux/alerts